
body{
    padding: 0;
    margin: 0;
}
.pageWrap{
    display: flex;
    //align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.el-tag {
    margin-left: 10px;
}
.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
}

.elFormItemFlex{
    width: 100%;
    .el-form-item__content{
        width: calc(100% - 180px);
    }
    .el-upload-list--picture .el-upload-list__item.is-success .el-upload-list__item-name{
        display: none;
    }
}
.ldlTab .el-tabs__content{
    padding: 5px;
    height: calc(100% - 50px);
}
.ldlTabs .el-tabs__content{
    padding: 5px;
    height: calc(100% - 10px);
}

.minWidth200{
    min-width: 200px!important;
}
.minWidth300{
    min-width: 300px!important;
}
.minWidth400{
    min-width: 400px!important;
}
.minWidth500{
    min-width: 500px!important;
}
.minWidth600{
    min-width: 600px!important;
}
.minWidth700{
    min-width: 700px!important;
}
.minWidth800{
    min-width: 800px!important;
}