
body{
    padding: 0;
    margin: 0;
}
.pageWrap{
    display: flex;
    //align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.minWidth200{
    min-width: 200px!important;
}
.minWidth300{
    min-width: 300px!important;
}
.minWidth400{
    min-width: 400px!important;
}
.minWidth500{
    min-width: 500px!important;
}
.minWidth600{
    min-width: 600px!important;
}
.minWidth800{
    min-width: 800px!important;
}