@import '../layout/config';
@import '../layout/leftNav';
@import "layoutTopNav";
@import "layoutTopLabel";

.ldl-headerTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: $ldl-shadow;
}
.ldl-logoImage{
  width: 60%;
}
.scrollbar-wrapper {
  overflow: visible;
  overflow-x: hidden !important;
  width: 100%;
}

