
.ldl-layoutTopNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding:0 20px;
  border-bottom: 1px solid #fafafa;
  width:calc(100% - 40px);
}
.ldl-navButton{
  font-size: 25px;
  cursor: pointer;
  :hover{
    color: $buttonHover;
  }
}
.ldl-layoutTopNavRight{
  height: 30px;
  display: flex;
  .el-menu.el-menu--horizontal{
    border-bottom: 0;
  }
  .el-menu-item{
    padding: 0 10px;
  }
  .el-menu--horizontal>.el-menu-item{
    height: 30px;
    line-height: 30px;
  }
}
.ldl-info{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  .ldl-infoName{
    margin:0 0px 0 10px;
    font-size: 15px;
    font-weight: 600;
  }
}