
.ldl-logoImage{
  width: 60%;
}
.scrollbar-wrapper{
  overflow-x: hidden !important;
  position: relative;
  //width:calc(100% - 17px);
  .el-menu{
    border-right-color:transparent !important;
  }
}
.elScrollbarBox{
  .is-horizontal{
    display: none!important;
  }
}
.ldl-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $ldl-shadow;
  height: 70px;
  transition:all 1s;
  margin-bottom: 5px;
  background:darken($navBackground,1%);
}
.ldl-aside{
   box-shadow: $ldl-shadow;
   background: $navBackground;
   transition:width 1s;
    //overflow: hidden;
 }
.minSubNavItem .el-submenu__icon-arrow{
   display: none;
 }
.subNavItem{
  .is-active{
    background-color: $onNavBackground !important;
    .is-active{
      .el-submenu__title{
        color: $menuActiveText !important;
      }
      .is-active{
        color: $menuActiveText !important;
        background-color: $onNavBackground !important;
        i{
          color: $menuActiveText !important;
        }
      }

    }
  }
}
.subNavItem .el-menu{
  background-color: $navSubBackground !important;
  .el-menu-item{
    background-color:$navSubBackground !important;
  }
  .is-active{
    background-color:$onNavSubBackground !important;
  }
}
.el-menu--vertical {
  opacity: 0.99;
  height: 80%;
  overflow: auto;
  &::-webkit-scrollbar-track
  {
    background: rgba(0,0,0,.1);
    border-radius: 0;
  }
  &::-webkit-scrollbar
  {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb
  {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0,0,0,.15);
    transition: color .2s ease;
  }
  .el-menu{
    background-color: $navSubBackground !important;
  }
  .el-menu-item{
     background-color:$navSubBackground !important;
   }

  .is-active{
    background-color:$onNavSubBackground !important;
  }
}